## Entornos virtuales
nuevoEntorno/
entorno_servidor/
venv/
.env

## Archivos binarios/instaladores
*.zip
*.exe
*.msi

## Archivos temporales / cache
__pycache__/
*.pyc
*.pyo
*.log

## Base de datos local de autenticación
auth.db

## Archivos grandes locales no versionados
code.deb
kmeans_normal.csv
Python-3.11.5.tgz
requeriments_servidor.txt
